.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    background-color: #283618;
    color: #D7D3CB;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    z-index: 9999;

    .cookie-container {
        width: 970px;
        height: 186px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        margin: 0 auto;

        .cookie-lumina {
            align-self: flex-start;
            text-align: left;
            margin: 0;
            padding: 0;
            width: auto;
            color: #F4C96D;
            font-size: 24px;
        }

        .cookie-text {
            margin-top: 20px;
            font-size: 16px;
        }

        .cookie-buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: auto;
            gap: 16px;

            button {
                margin-inline: 50px;
                font-size: 16px;
                height: 40px;
                width: 160px;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &.btn-decline {
                    color: #F4C96D;
                    border: solid 2px #F4C96D;
                    background-color: #283618;

                    &:hover {
                        background-color: #F4C96D;
                        color: #1C2511;
                    }
                }

                &.btn-accept {
                    color: #283618;
                    background-color: #F4C96D;
                    border: solid 2px #F4C96D;

                    &:hover {
                        background-color: #d9a947;
                        color: #1C2511;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .cookie-banner {
        height: 32vh;
    }

    .cookie-container {
        margin: 0 60px !important;
    }

    .cookie-buttons {
        button {
            margin-inline: 15px !important;
        }
    }
}
