*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
  .video-small-hp {
    display: none;
  }

  .video-hp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    img {
      width: 377px;
      height: 177px;
    }

    .btn-container {
      .meny, 
      .book {
        font-size: 16px;
        color: #F4C96D;
        border: solid 2px #F4C96D;
        border-radius: 5px;
        height: 40px;
        width: 160px;
        margin-inline: 32px;
        background-color: #1C251150;
      }

      .meny:hover, 
      .book:hover {
        color: #283618;
        background-color: #F4C96D;
      }

      .meny:focus,
      .book:focus {
        color: #283618;
        background-color: #E2A31C;
        border: #E2A31C;
      }
    }
  }
}

//Tablet version
@media screen and (max-width: 900px) {
  main {
    .video-hp {
      display: none;
    }

    .video-small-hp {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .container {
      img {
        width: 288px;
        height: 88px;
        margin-bottom: 32px;
      }

      .btn-container {
        .meny, .book {
          display: block;
          margin-block: 32px;
        }
      }
    }
  }
}

//Mobile version
@media screen and (max-width: 765px) {
  main {
    .container {
      img {
        width: 232px;
        height: 72px;
        margin-bottom: 32px;
      }
    }
  }
}
