.section-five {
  background-color: #d7d3cb;
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  &-text-box {
    grid-column: 3 / 7;
    h2 {
      font-family: "Montserrat", sans-serif;
      margin-top: 30px;
      font-weight: 600;
      text-transform: uppercase;
      color: #283618;
      font-size: 2rem;
    }
    p {
      font-family: "Montserrat", sans-serif;
      margin-top: 50px;
      line-height: 32px;
      font-size: 1rem;
    }
    button {
      font-family: "Shantell Sans", cursive;
      background-color: transparent;
      border: none;
      color: #283618;
      width: 165px;
      height: 35px;
      font-size: 1.5rem;
      text-decoration: underline;
      text-transform: uppercase;
      margin-top: 20px;
      float: right;
      margin-right: 40px;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      &:visited {
        color: #e2a31c;
      }
      &:focus {
        border: 1px solid black;
      }
    }
  }
  &-image {
    height: 700px;
    width: 600px;
    grid-column: 8 / 12;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//Laptop version 1 because of big amount of text
@media (max-width: 1300px) {
  .section-five {
    &TextBox {
      grid-column: 2 / 8;
    }
  }
}

//Tablet version
@media (max-width: 1023px) {
  .section-five {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
    width: 100%;
    padding: 32px 32px;
    &-text-box {
      grid-column: 1 / 5;
      width: 300px;
      height: 100%;
      h2 {
        margin-top: 30px;
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
        margin-top: 40px;
        line-height: 24px;
      }
      button {
        margin-right: 0;
      }
    }
    &-image {
      grid-column: 5 / 9;
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        object-position: center left;
      }
    }
  }
}

//Mobile version
@media (max-width: 480px) {
  .section-five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 32px;
    padding: 32px 32px;
    &-text-box {
      grid-column: 1 / span 2;
      width: 100%;
      height: 100%;
      h2 {
        margin-top: 0;
      }
      p {
        margin-top: 20px;
        font-size: 1rem;
      }
      button {
        margin-top: 15px;
        margin-right: 0;
      }
    }
    &-image {
      grid-column: span 2;
      width: 100%;
      height: 100%;
    }
  }
}