.SectionFive{
    background-color: #D7D3CB;
    width: 1440px;
    height: 870px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 32px;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    border-left: 1px solid rgba(0, 0, 0, 0.178);
    &TextBox{
        width: 555px;
        height: 741px;
        grid-column:  2 / span 5;
        h1{
            font-family: "Montserrat", sans-serif;
            margin-top: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: #283618;
        }
        p{
            font-family: "Montserrat", sans-serif;
            margin-top: 30px;
            line-height: 30px;
            font-size: 1.15rem;
        }
        button{
            font-family: "Shantell Sans", cursive;
            background-color: transparent;
            border: none;
            color: #283618;
            width: 165px;
            height: 35px;
            font-size: 1.5rem;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 20px;
            float: right;
            margin-right: 40px;
            cursor: pointer;
            &:hover{
                font-weight: bold;
            }
            &:visited{
                color: #E2A31C;
            }
            &:focus{
                border: 1px solid black;
            }

        }
    }
    &Image{
        background-color: aqua;
        width: 440px;
        height: 741px;
        grid-column:  8 /  12;
        img{
            width: 100%;
            height: 100%;
        }
    }
}