.section-three {
  background-color: #d7d3cb;
  width: 100%;
  height: 652px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
  grid-template-areas: ". image image image image . text text text text text .";
  
  &-image {
    height: 524px;
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-text-box {
    grid-area: text;
    h2 {
      font-family: "Montserrat", sans-serif;
      margin-top: 50px;
      font-weight: 600;
      text-transform: uppercase;
      color: #283618;
      font-size: 2rem;
    }
    p {
      font-family: "Montserrat", sans-serif;
      margin-top: 50px;
      line-height: 32px;
      font-size: 1rem;
    }
    button {
      font-family: "Shantell Sans", cursive;
      background-color: transparent;
      border: none;
      color: #283618;
      width: 165px;
      height: 35px;
      font-size: 1.5rem;
      text-decoration: underline;
      text-transform: uppercase;
      margin-top: 20px;
      float: right;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      &:visited {
        color: #e2a31c;
      }
      &:focus {
        border: 1px solid black;
      }
    }
  }
}

@media (max-width: 1023px) {
  .section-three {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 32px;
    &-image{
      grid-column: 1 / span 4;
      width: 335px;
      height: 540px;
    }
    &-text-box {
      grid-column: 5 / span 8;
      width: 330px;
      height: 520px;
      h2 {
        margin-top: 30px;
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
        margin-top: 40px;
        line-height: 24px;
      }
      button {
        margin-top: 50px;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .section-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 980px;
    width: 100%;
    gap: 0;
    padding: 32px 32px;
    grid-template-areas: 
      "text text" 
      "image image";
    &-image{
      grid-area: image;
      width: 100%;
      height: 430px;
    }
    &-text-box {
      grid-area: text;
      height: 472px;
      width: 100%;
      h2 {
        margin-top: 30px;
        font-size: 1.5rem;
      }
      p {
        margin-top: 20px;
        font-size: 0.875rem;
      }
      button {
        margin-top: 15px;
      }
    }
  }
}