.SectionThree{
    background-color: #D7D3CB;
    width: 100%;
    height: 652px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 32px;
    align-items: center;
    &Image{
        width: 448px;
        height: 524px;
        grid-column:  3 /  4;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &TextBox{
        width: 555px;
        height: 524px;
        grid-column:  8 / 12;
        h2{
            font-family: "Montserrat", sans-serif;
            margin-top: 50px;
            font-weight: bold;
            text-transform: uppercase;
            color: #283618;
        }
        p{
            font-family: "Montserrat", sans-serif;
            margin-top: 50px;
            line-height: 30px;
            font-size: 1.15rem;
        }
        button{
            font-family: "Shantell Sans", cursive;
            background-color: transparent;
            border: none;
            color: #283618;
            width: 165px;
            height: 35px;
            font-size: 1.5rem;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 20px;
            float: right;
            cursor: pointer;
            &:hover{
                font-weight: bold;
            }
            &:visited{
                color: #E2A31C;
            }
            &:focus{
                border: 1px solid black;
            }

        }
    }
}


@media (max-width: 1140px) {
    .SectionThree{
        display: grid;
        grid-template-columns: repeat(8, 1fr); 
        padding: 32px;
        &Image{
            grid-column:  1 / span 4;
            width: 435px;
            height: 540px;
        }
        &TextBox{
            grid-column:  5 / span 8;
            width: 100%;
            h2{
                margin-top: 30px;
                font-size: 1.9rem;
            }
            p{
                font-size: 1.2rem;
                margin-top: 40px;
            }
            button{
                margin-top: 50px;
                font-size: 1.8rem;
                width: 200px;
            }
        }

    }
}

@media (max-width: 768px) {
    .SectionThree{
        display: grid;
        grid-template-columns: repeat(8, 1fr); 
        padding: 32px;
        &Image{
            grid-column:  1 / span 4;
            width: 335px;
            height: 540px;

        }
        &TextBox{
            grid-column:  5 / span 8;
            width: 330px;
            height: 520px;
            h2{
                margin-top: 30px;
                font-size: 1.3rem;
            }
            p{
                font-size: 0.8rem;
                margin-top: 40px;
            }
            button{
                margin-top: 50px;
            }
        }

    }
}

@media (max-width: 480px) {
    .SectionThree{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 1150px;
        width: 100%;
        gap: 0;
        padding: 32px 32px;
        &Image{
            grid-column:  span 2;
            width: 100%;
            height: 500px;
           
        }
        &TextBox{
            height: 472px;
            grid-column:  1 / span 2;
            width: 100%;
            h2{
                margin-top: 0;
            }
            p{
                margin-top: 20px;
                font-size: 1rem;
            }
            button{
                margin-top: 15px;
            }
        }

    }
}