section {
  background-color: #283618;
  color: #D7D3CB;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
  
  .text-block {
    display: grid;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    font-style: italic;
    font-weight: 300;

    span {
      text-align: right;
      padding-top: 32px;
    }
  }
}

