.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -125px;
  height: 100vh; 
  width: 100%; 
  z-index: -1;

  .header-img {
    width: 100vw; 
    height: 100%; 
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .book-img {
    width: 438px;
    height: 98px;
  }
}

//Tablet version
@media screen and (max-width: 768px) {
  .container {
    height: 482px;

    .book-img {
      width: 336px;
      height: 79px;
    }
  }
}

//Mobile version
@media screen and (max-width: 480px) {
  .container {
  height: 283px;

    .book-img {
      width: 312px;
      height: 63px;
    }
  }
}