main {
  width: 100%;
  


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 651px;
    position: relative;
    background-image: url(/src/assets/images/images-and-videos/booking-page/stir.jpg);
    background-size: cover;
    margin-top: -125px; // Jag var och rörde snabbt här.
    z-index: -1; // här med. (Kristofer)

    .book-img {
      position: relative;
      width: 438px;
      height: 98px;
    }
  }
}
//Tablet version
@media screen and (max-width: 768px) {
  main {
    .container {
      height: 482px;

      .book-img {
        width: 336px;
        height: 79px;
      }
    }
  }
}

//Mobile version
@media screen and (max-width: 480px) {
  main {
    .container {
    height: 283px;

      .book-img {
        width: 312px;
        height: 63px;
      }
    }
  }
}