@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.booking-page2 {
    background-color: #283618;
    color: #D7D3CB; 
    width: 100%;
    
}

.booking-section-over {
    border: solid red;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    align-items: flex-start; 
    font-family: "Montserrat", sans-serif; 

    .booking-title {
        margin-bottom: 32px;
    }
    
    h2 {
        color: #F4C96D;
        font-size: 32px;
        text-transform: uppercase;
         

    }

    p {
        font-size: 16px;
        line-height: 32px;
        
        
    }

    .booking-info-over {
        margin-bottom: 10px;
    }

    .booking-content {
        grid-column: 2 / span 6;
        display: flex;
        flex-direction: column;
        border: solid red;
        height: 276px;
        width: 783px;
    }

    .info-book {
        grid-column: 9 / span 3;
        display: flex;
        justify-content: center;
        align-self: flex-start; 
        border: solid red;

        .book-image {
            width: 317px;
            display: flex;
            align-self: flex-start; 
        }
    }
}






.booking-page2 {
    background-color: #283618;
    color: #D7D3CB; 
    width: 100%;
}


 .booking-section-under {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    border: solid red;
}


.booking-form {
    grid-column: 2 / span 5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}


.form-group {
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-size: 24px;
}

.booking-form input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 24px;
    margin-top: 4px;
    color: #D7D3CB;
    border-radius: 8px;
}

.gdpr {
    grid-column: 2 / span 4;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.gdpr input {
    margin-right: 8px;
}


.form-buttons {
    grid-column: 2 / span 4;
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.btn-reset, .btn-submit {
    height: 40px;
    width: 160px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}






