.footer-section {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #283618;
  margin-top: -1px;
  .logo-box {
    background-color: #283618;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 200px;
      height: 200px;
    }
  }
  .footer-info-box {
    border: 1px solid #d7d3cb;
    background-color: #d7d3cb;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #283618;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      width: 300px;
      text-transform: uppercase;
    }
    p {
      font-size: 1.5rem;
      margin-top: 20px;
      width: 300px;
    }
    nav {
      ul {
        li {
          font-size: 1.5rem;
          list-style: none;
          margin-top: 20px;
          width: 340px;
          text-decoration: underline;
          cursor: pointer;

          a {
            color: #283618;
            &:hover {
              font-weight: bold;
            }

            &:focus {
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 388px;

    .logo-box {
      width: 50%;
      height: 100%;
    }
    .footer-info-box {
      width: 50%;
      height: 100%;
    }
  }
}
@media (max-width: 480px) {
  .footer-section {
    display: flex;
    flex-direction: row;

    .logo-box {
      width: 100%;
    }
    .footer-info-box {
      width: 100%;
    }
  }
}
