.HeaderSection {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .HeaderLogo {
    margin-left: 32px;
    svg {
      width: 70px;
      height: 70px;
    }
  }
  .DesktopNav {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    ul {
      list-style: none;
      font-size: 1.3rem;
      text-decoration: underline;
      color: #d7d3cb;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 60px;
      li {
        width: 100px;
        cursor: pointer;
        a {
          color: #d7d3cb;
          &:hover {
            font-weight: bold;
          }
          &:visited {
            color: #e2a31c;
          }
          &:focus {
            border: 1px solid black;
          }
        }
      }
    }
  }

  .MobileTabletNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #283618;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 2;
    overflow-y: auto;
    .ToggleButtonOff {
      height: 100px;
      margin-right: 0;
      a {
        float: right;
      }
      svg {
        fill: #d7d3cb;
        width: 100px;
      }
    }
    .NavBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 50px;
      nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        gap: 40px;
        color: #d7d3cb;
        ul {
          font-size: 1.4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
          h2 {
            font-size: 3rem;
            color: #f4c96d;
          }
          li {
            list-style: none;
            margin-top: 20px;
            color: #d7d3cb;
            a {
              color: #d7d3cb;
            }
          }
        }
      }
    }
  }

  .MobileTabletNav.show {
    opacity: 1;
    visibility: visible;
    gap: 50px;
  }
  /* Close Button */

  .BurgerIcon {
    display: none;
    height: 100%;
    margin-right: 15px;
    svg {
      width: 90px;
      height: 100%;
      fill: #d7d3cb;
      zoom: 1.4;
    }
  }
}

@media (max-width: 768px) {
  .HeaderSection {
    .DesktopNav {
      display: none;
    }
    .BurgerIcon {
      display: grid;
    }
    .MobileTabletNav.show {
      .ToggleButtonOff {
        height: 130px;
        margin-right: 0;
        a {
          float: right;
        }
        svg {
          fill: #d7d3cb;
          width: 130px;
          height: 130px;
        }
      }
      .NavBox {
        height: 600px;
        display: flex;
        justify-content: center;
        nav {
          svg {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .HeaderSection {
    .HeaderLogo {
      margin-left: 10px;
    }
    .DesktopNav {
      display: none;
    }
    .BurgerIcon {
      display: grid;
      height: 100%;
      margin-right: 0;
      svg {
        width: 70px;
        height: 100%;
        fill: #d7d3cb;
        zoom: 1.4;
      }
    }
    .MobileTabletNav.show {
      .ToggleButtonOff {
        margin-right: 0;
        height: 100px;
        svg {
          zoom: 1;
          height: 125px;
          width: 100px;
        }
      }
    }
  }
}
