@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #283618; 
    font-family: "Montserrat", sans-serif;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;
    background-color: #283618;

    .history-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: auto auto auto auto;
        gap: 20px;
        max-width: 1440px;
        width: 90%;
        align-items: center;
        color: #D7D3CB;
        margin: 0 auto;
    }

    .lumina-history {
        grid-column: 2 / span 5;
        font-size: 2rem;
        color: #F4C96D;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        margin: 50px 0 0 0;
    }

    .history-text {
        grid-column: 2 / span 5;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 1.6;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        margin-top: -20px;
    }

    .history-image-container {
        grid-column: 8 / span 4;
        grid-row: 1 / span 3;
        width: 100%;
        height: 800px;
        border: 2px solid red;
        overflow: hidden;
        position: relative;

        .history-main-image {
            position: absolute;
            left: -140px;
            width: calc(100% + 140px);
            height: 100%;
            object-fit: cover;
        }
    }

    .history-drinks {
        grid-column: 5 / span 3;
        grid-row: 3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: -20px;

        .history-drinks-image {
            width: 200px;
            max-width: 100%;
        }
    }
}
